/*PIXEL FONTS*/

@font-face {
    font-family: "basis33";
    src: url("./basis33/basis33.ttf");
}

@font-face {
    font-family: "bpdots";
    src: url("./bpdots/bpdots.otf");
}

@font-face {
    font-family: "dpcomic";
    src: url("./dpcomic/dpcomic.ttf");
}

@font-face {
    font-family: "EXEPixelPerfect";
    src: url("./exepixelperfect/EXEPixelPerfect.ttf");
}

@font-face {
    font-family: "lunchtime-doubly-so";
    src: url("./basis33/lunchds.ttf");
}

@font-face {
    font-family: "medodica";
    src: url("./medodica/MedodicaRegular.otf");
}

@font-face {
    font-family: "pixeloid";
    src: url("./pixeloid/PixeloidSans.ttf");
}

@font-face {
    font-family: "press-start-2p";
    src: url("./press-start-2p/PressStart2P-Regular.ttf");
}

@font-face {
    font-family: "return-of-ganon";
    src: url("./return-of-ganon/retganon.ttf");
}
